<div class="container index-box">
  <h1>All Cocktails</h1>
  <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cocktail.photo_url %>')">
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>
      <% end %>
  </div>
</div>



