<%= render 'shared/navbar_others' %>

<div class="container new-box">
  <div class="form-box">
    <h3>Add Cocktail</h3>

    <%= render 'form' %>
    <div class="form-bottom">
      <%= link_to 'Back to All Cocktails', root_path, class: 'link-button' %>
    </div>
  </div>
</div>

