.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px;
  z-index: 2;
}

.navbar-others {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar_right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-cocktail {
  color: $green;
  background-color: transparent;
}

.brand_logo {
  margin-bottom: 0px;
  text-decoration: none;
  color: white;
}

.brand_logo:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
