.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px;
  margin-bottom: 20px;
}

.navbar_right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-cocktail {
  color: $yellow;
  background-color: transparent;
}

.brand_logo {
  margin-bottom: 0px;
  text-decoration: none;
  color: white;
}

.brand_logo:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
